.App {
  text-align: center;
}

.App__main {
  min-height: calc( 100vh - 54px );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 0 200px #252525 inset;
}
